<!DOCTYPE html>

{% extends 'todoapp/index.html' %}

{% block content %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{title}}</title>
</head>
<body>
<a href="{% url 'add_task' %}"><h3 class="content">+ Добавить задачу</h3></a>
<h1>Невыполненные задачи</h1>
{% if not uncompleted_tasks %}
    <h4>Все задачи выполнены!</h4>
{% endif %}
<ul>
    {% for t in uncompleted_tasks %}
        <li class="point">
            <h2>{{t.title}}</h2>
            <h4>{{t.project.title}}</h4>
            <h5>Создано: {{t.time_create|date:'H:i d.m.Y'}}</h5>
            <p>{{t.content}}</p>
            <a href="{% url 'change_task' t.pk %}"><p>Редактировать</p></a>
            <a href="{% url 'delete_task' t.pk %}"><p>Удалить</p></a>
            <a href="{% url 'create_template' t.pk %}"><p>Создать шаблон</p></a>
            <a href="{% url 'complete_task' t.pk %}"><h3>Выполнить</h3></a>
        </li>
    {% endfor %}
</ul>
<h1>Выполненные задачи</h1>
{% if not completed_tasks %}
    <h4>Здесь будут отображаться задачи, которые вы выполнили.</h4>
{% endif %}
<ul>
    {% for t in completed_tasks %}
        <li class="point">
            <h2>{{t.title}}</h2>
            <h4>{{t.project.title}}</h4>
            <h5>Выполнено: {{t.time_complete|date:'H:i d.m.Y'}}</h5>
            <p>{{t.content}}</p>
            <a href="{% url 'create_template' t.pk %}"><p>Создать шаблон</p></a>
            <a href="{% url 'delete_task' t.pk %}"><p>Удалить</p></a>
        </li>
    {% endfor %}
</ul>
</body>
</html>
{% endblock %}